<div class="box box-activity col-md-12">
  <div class="content">
    <div class="header">
      <h3>Latest Activity</h3>
      <div class="btn btn-link pull-right refresh" ng-click="vm.refresh()">
        <i class="fa fa-refresh" ng-class="{ 'fa-spin': vm.isRefreshing }"></i>
      </div>
    </div>
    <div class="loading" ng-hide="vm.activity.isLoaded">
      <i class="fa fa-circle-o-notch fa-spin"></i>
      <h4>{{ vm.loadingMessage }}</h4>
    </div>
    <div class="info" ng-show="vm.activity.isLoaded" ng-hide="vm.activity.hasError">
      <div class="row git-event-title">
        <div class="col-md-4 col-sm-6 col-xs-6">
          <h4>Repository</h4>
        </div>
        <div class="col-md-8 col-sm-6 col-xs-6">
          <h4>Commits</h4>
        </div>
      </div>
      <div class="row git-event-body" ng-repeat="event in vm.activity.events">
        <div class="col-md-4">
          <a href="http://github.com/{{ event.repo.name }}" target="_blank">
            <i class="fa fa-github fa-"></i> {{ event.repo.name }}
          </a>
          <div am-time-ago="event.created_at"></div>
        </div>
        <div class="col-md-8">
          <p ng-repeat="commit in event.payload.commits | filter:{distinct: true} | limitTo:vm.commitLimit || 3">
            <a href="http://github.com/{{ event.repo.name }}/tree/{{ event.payload.ref | branch }}" target="_blank">
              {{ event.payload.ref | branch }}
            </a>
            &commat;
            <a href="http://github.com/{{ event.repo.name }}/commit/{{ commit.sha }}" target="_blank">
              {{ commit.sha | limitTo:10 }}
            </a>
            <br>
            {{ commit.message }}
          </p>
        </div>
      </div>
    </div>
    <div class="error" ng-show="vm.activity.hasError && !vm.isRefreshing">
      <h4>Whoops... Something went wrong.</h4>
      <p>{{ vm.activity.message }}</p>
    </div>
  </div>
</div>